.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body h3 {
  margin-top: 40px;
}
.body h4 {
  margin-top: 10px;
}
.body div.team {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.body div.team span {
  font-weight: 1.2rem;
  font-weight: 800;
}
.body div.team ul {
  margin-left: 20px;
}
.body div.team ul li {
  list-style: none;
}
.body ul.introduction {
  margin-left: 100px;
}
.body ul.introduction li {
  list-style: none;
}
