<div class="body">
  <h3>项目简介</h3>
  <h4>项目名称:学院课程管理系统</h4>
  <h4>技术栈:Angular9.0+Golang+Mysql5.7</h4>
  <div class="team">
    <span>小组成员:</span>
    <ul>
      <li>陈煜(数据库建模)</li>
      <li>谭康兆(后端)</li>
      <li>伍家乐(前端)</li>
    </ul>
  </div>
  <ul class="introduction">
    <h4>项目已实现功能:</h4>
    <li>1.从Excel表提取数据初始化数据库</li>
    <li>2.用户登录</li>
    <li>3.学生选课/退选</li>
    <li>4.查看成绩</li>
    <li>5.老师排课(智能排课算法)</li>
    <li>6.选课冲突检测</li>
    <li>7.课程、成绩等数据的修改</li>
    <li>8.查看课表</li>
    <li>9.课表导出为Excel表</li>
  </ul>
</div>
