.body {
    width: 100%;
    margin: 40px;

    table {
        border-collapse: collapse;

        th, td {
            text-align: center;
            padding: 5px 20px;
            border: 1px solid #ccc;
        }
    }
}