<div class="body">
  <table *ngIf="courseList.length">
    <tr>
      <th>课程号</th>
      <th>课程名</th>
      <th>课时</th>
      <th>学分</th>
      <th>课程类型</th>
      <th>课程时间</th>
      <th>已选/容量</th>
      <th>选课名单</th>
    </tr>
    <tr *ngFor="let course of courseList">
      <td>{{ course.id }}</td>
      <td>{{ course.name }}</td>
      <td>{{ course.duration }}</td>
      <td>{{ course.credit }}</td>
      <td>{{ course.category }}</td>
      <td>1111</td>
      <td>{{ course.stu_num }}/{{ course.max_num }}</td>
      <th><i class="fa fa-list" aria-hidden="true"></i></th>
    </tr>
  </table>
</div>
