<div class="body" [ngClass]="{ 'pop-out': popFlag, 'pop-in': !popFlag }">
  <div class="routes">
    <ul [ngClass]="{ selected: selected == '首页' }" (click)="index()">
      <i class="fa fa-tachometer" aria-hidden="true"></i>
      <div *ngIf="popFlag">首页</div>
    </ul>
    <ul
      [ngClass]="{ selected: selected == '选课' }"
      *ngIf="role == 'student'"
      (click)="selectCourse()"
    >
      <i class="fa fa-book" aria-hidden="true"></i>
      <div *ngIf="popFlag">选课</div>
    </ul>
    <ul
      [ngClass]="{ selected: selected == '排课' }"
      *ngIf="role != 'student'"
      (click)="assignCourse()"
    >
      <i class="fa fa-tasks" aria-hidden="true"></i>
      <div *ngIf="popFlag">排课</div>
    </ul>
    <ul
      [ngClass]="{ selected: selected == '成绩' }"
      *ngIf="role == 'student'"
      (click)="grade()"
    >
      <i class="fa fa-book" aria-hidden="true"></i>
      <div *ngIf="popFlag">成绩</div>
    </ul>
    <ul
      [ngClass]="{ selected: selected == '成绩' }"
      *ngIf="role != 'student'"
      (click)="teachCourse()"
    >
      <i class="fa fa-book" aria-hidden="true"></i>
      <div *ngIf="popFlag">我的授课</div>
    </ul>
    <ul [ngClass]="{ selected: selected == '课程表' }" (click)="courseTable()">
      <i class="fa fa-table" aria-hidden="true"></i>
      <div *ngIf="popFlag">课程表</div>
    </ul>
    <ul
      *ngIf="role == 'system'"
      [ngClass]="{ selected: selected == '学院信息' }"
      (click)="collegeInfo()"
    >
      <i class="fa fa-info" aria-hidden="true"></i>
      <div *ngIf="popFlag">学院信息</div>
    </ul>
  </div>
  <div class="content">
    <header>
      <button class="pop" (click)="popFlag = !popFlag">
        <i class="fa fa-indent fa-lg" aria-hidden="true" *ngIf="!popFlag"></i
        ><i class="fa fa-outdent fa-lg" aria-hidden="true" *ngIf="popFlag"></i>
      </button>
    </header>
    <main><router-outlet></router-outlet></main>
  </div>
</div>
