<div class="body" [ngClass]="{ 'pop-out': popFlag, 'pop-in': !popFlag }">
  <div class="routes">
    <ul [ngClass]="{ selected: selected == 'index' }" (click)="index()">
      <i class="fa fa-tachometer" aria-hidden="true"></i>
      <div *ngIf="popFlag">首页</div>
    </ul>
    <ul
      [ngClass]="{ selected: selected == 'select_course' }"
      *ngIf="role == 'student'"
      (click)="selectCourse()"
    >
      <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
      <div *ngIf="popFlag">选课</div>
    </ul>
    <ul
      [ngClass]="{ selected: selected == 'assign_course' }"
      *ngIf="role != 'student'"
      (click)="assignCourse()"
    >
      <i class="fa fa-tasks" aria-hidden="true"></i>
      <div *ngIf="popFlag">排课</div>
    </ul>
    <ul
      [ngClass]="{ selected: selected == 'grade' }"
      *ngIf="role == 'student'"
      (click)="grade()"
    >
      <i class="fa fa-book" aria-hidden="true"></i>
      <div *ngIf="popFlag">成绩</div>
    </ul>
    <ul
      [ngClass]="{ selected: selected == 'teach_course' }"
      *ngIf="role != 'student'"
      (click)="teachCourse()"
    >
      <i class="fa fa-book" aria-hidden="true"></i>
      <div *ngIf="popFlag">我的授课</div>
    </ul>
    <ul
      [ngClass]="{ selected: selected == 'course_table' }"
      (click)="courseTable()"
    >
      <i class="fa fa-table" aria-hidden="true"></i>
      <div *ngIf="popFlag">课程表</div>
    </ul>
    <ul
      *ngIf="role == 'system'"
      [ngClass]="{ selected: selected == 'college_info' }"
      (click)="collegeInfo()"
    >
      <i class="fa fa-info" aria-hidden="true"></i>
      <div *ngIf="popFlag">学院信息</div>
    </ul>
  </div>
  <div class="content">
    <header>
      <button class="pop" (click)="popFlag = !popFlag">
        <i class="fa fa-indent fa-lg" aria-hidden="true" *ngIf="!popFlag"></i
        ><i class="fa fa-outdent fa-lg" aria-hidden="true" *ngIf="popFlag"></i>
      </button>
      <div class="welcome">欢迎你,{{ name }}!</div>
      <div class="avatar" (click)="showSelectFLag = !showSelectFLag">
        <img src="assets/img/avatar.jpg" alt="" />
        <ul *ngIf="showSelectFLag">
          <li
            (click)="
              goToGitHub('https://github.com/TankLQY/college_course_system')
            "
          >
            <i class="fa fa-github" aria-hidden="true"></i><span>Github</span>
          </li>
          <li (click)="logout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i
            ><span>退出登录</span>
          </li>
        </ul>
      </div>
    </header>
    <main><router-outlet></router-outlet></main>
  </div>
</div>
